<footer style="background-color:midnightblue; height:100%">
    <div class="row container-fluid pt-4">
        <div class="col-md-4 mb-4">
            <h5 style="color:white"> <b>Our services</b> </h5>
            <a href="" style="color:white">Web Design and Developemet</a><br>
            <a href="" style="color:white" >Social Media Marketing</a> <br>
            <a href="" style="color:white">Mobile App Developemet</a> <br>
        </div>
        <div class="col-md-4 mb-4" style="color:white">
            <h5 class=""><b>Follow Us</b> </h5>
            <ul class="text-center" style="float: left">
                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            
        </div>
        <div class="col-md-4 mb-4" style="color:white">
            <h5> <b>Contact Us</b>  </h5>
            
            <i class="fa fa-phone" aria-hidden="true"></i> <span> +234 803 284 2663</span>
    <br>
            <i class="fa fa-whatsapp" aria-hidden="true"></i><span> +234 903 994 7196</span>
    <br>
            <i class="fa fa-envelope" aria-hidden="true"></i><span> emeraldstechub@gmail.com</span>
    
        </div>
    </div>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 d-flex justify-content-center" >
                        <form action="" style="align-items:center" class="">
                            <div class="form-group">
                <label for="subscribe" style="color:white" class="label-control"> <b>Subscribe to our Events and News Letter</b> </label>
                <div class="form-inline">
                        <input type="text" name="subscribe" id="subscribe" class="form-control rounded-0 mr-2 mb-1">
                        <button class="btn btn-md rounded-0 btn-success" style="color:white">SUBSCRIBE</button>
                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
    </div>
    
    
    <div class="row">
        <div class="col-12 pt-2">
                <p class="text-center text-lead" style="color:white;border-right:1px solid white">Copyright &copy; Emerald Tech Hub</p> 
        </div>
    </div>
    </footer>