<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center" style="margin-top:100px">EMAIL MARKETING</h2>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
                <p class="font-weight-light">
                        Email Marketing – Right from the pre-industrial era,
                         humans have always engaged in one form of marketing or 
                         the other in order to initiate transactions. The skills 
                         might be largely unrefined at that moment but they still 
                         managed to get the job done partly because the competition 
                         was scanty and families were subsistence. Fast forward to 
                         this millennium, marketing has witnessed several structural 
                         changes in planning and implementation due to the advancement 
                         of technology and the reinforced competition.
                </p>
                <p class="font-weight-light">
                        One of such successful marketing medium that is birthed by the advancement
                         of technology is “email marketing”. From the name, we could easily deduce 
                         that this medium focuses on the promotion of products/services through email. 
                         At one point or the other, we must have received an anonymous email 
                         (usually found in the spam folder) trying to inform us about the existence 
                         of a particular service and the bonus offer available if we follow through 
                         on the content. While those emails can also be regarded as a form of email 
                         marketing since they are also sent with the intention of persuading the audience,
                         they usually have a low response rate because of the haphazard nature that was employed in executing them.
                    </p>
                <p class="font-weight-light">
                        Once executed by the right professionals, email marketing is capable of 
                        helping a business grow exponentially by creating and maintaining a relationship 
                        between the business and customers with carefully drafted emails that customers 
                        can relate with. In order to successfully market via emails, the addresses have 
                        to be customers or potential customers who showed initial interests by providing their email address.
                         Otherwise, the mail might just be ignored or deleted immediately after the receiver receives it.
                </p>
               
                <h6 style="color:midnightblue">BENEFITS ASSOCIATED WITH USING EMAIL MARKETING AS A MEDIUM FOR PROMOTING YOUR BUSINESS AND SERVICES</h6>
                <ul>
                    <li>
                        <b>Cost effective: </b><span class="font-weight-light">
                                Unlike other conventional forms of marketing that comes 
                                with additional fees like printing fee, airing fee among
                                 many others, the cost required to successfully execute an
                                  email marketing campaign is significantly lower. This
                                   right here is why it is considered one of the digital
                                    marketing tools with the highest Return on Investment
                                     provided it is properly executed.
                        </span>
                    </li>
                    <li>
                            <b>It can easily be evaluated: </b><span class="font-weight-light">
                                    Due to the availability of the many email marketing tools available, 
                                    you can easily gauge the success of our campaign by analysing the 
                                    data provided. This also allows you to fine-tune your marketing 
                                    strategy for optimum performance where necessary.
                            </span>
                    </li>
                    <li>
                            <b>Easy to share: </b><span class="font-weight-light">
                                    When clients find your contents relatable and beneficial,
                                     not only do they appreciate it but they are also willing to
                                      share it to as many contacts as possible. Using this medium
                                       as a campaign tool allows them to easily share those contents.
                            </span>
                    </li>
                    <li>
                            <b>Message can be personalized: </b><span class="font-weight-light">
                                    With the avalanche of information provided by some email marketing 
                                    tools, you can afford to send personalized messages which are structured
                                     based on each customer’s transaction history or carted items. Also, more 
                                     people will be willing to read a message that starts with their name 
                                     (for example, Dear Daniel) than a message that begins with a general 
                                     greeting (for instance, Dear customer).
                            </span>
                    </li>
                </ul>
                <p class="font-weight-light">
                        Considering the fact that most internet users have a short attention span, 
                        your chances of persuading the audience depends largely on the relevance of 
                        the content contained in your email and how it appeals to their emotion.

                       </p>
                <p class="font-weight-light">
                        In order to maximize the benefits contained in promoting a 
                        product/service via email, it is always preferable to consult 
                        an experienced digital marketing agency as they are well conversant 
                        with most of the email marketing mistakes that could hurt your campaign. 
                        For more information about the actualization procedure, contact us at Lead web,
                         Abuja for a breath-taking experience.
                
                </p>
        </div>
        <div class="col-md-4">
                <img class="card-img-ight mb-4" style="height:300px;width:100%" alt="e-commerce services" src="assets/IMAGES/emailm.png">
              
               
        </div>
    </div>
    <div class="container-fluid mt-4 mb-4">
            <div class="d-flex justify-content-center">
        <a routerLink="/project" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">START YOUR DIGITAL JOURNEY WITH US TODAY</a>
            </div>
            <div class="container-fluid mt-4 mb-4">
                        <div class="d-flex justify-content-center">
                                        <button class="btn rounded-0" style="background-color:midnightblue;color:white" >OR</button>   </div>
                        <div class="container-fluid mt-4 mb-4">
                                        <div class="d-flex justify-content-center">
                                    <a routerLink="/message" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">CONTACT US</a>
                                        </div>

        
            <h6 class="text-center mt-4">LIKE PAGE ? SHARE IT WITH YOUR FRIENDS</h6>
            <div class="d-flex justify-content-center mt-2">
                    <div class="addthis_inline_share_toolbox_8aps"></div> 
                        </div>
        </div>
</div>
</div>
</div>
<app-footer></app-footer>