<app-navbar></app-navbar>
<div class="container-fluid">
        <div class="row mb-4" style="margin-top:100px">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card rounded-0 shadow-lg mb-2">
                        <div class="container-fluid">
                                <h2 class="text-center">About Emerald Tech Hub</h2>
                                <p class="text-center">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                    odi animi quod cupiditate enim, consequatur explicabo archite
                                    cto nam accusamus ipsum minima libero assumenda asperiores!
                                     Natus voluptatem repellat sunt aliquid. Harum?
                    
                                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                     odi animi quod cupiditate enim, consequatur explicabo archite
                                     cto nam accusamus ipsum minima libero assumenda asperiores!
                                      Natus voluptatem repellat sunt aliquid. Harum?
                    
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                      odi animi quod cupiditate enim, consequatur explicabo archite
                                      cto nam accusamus ipsum minima libero assumenda asperiores!
                                       Natus voluptatem repellat sunt aliquid. Harum?
                                </p>
                        </div>
                        
                    </div>
                    <div class="card rounded-0 shadow-lg mb-2">
                            <div class="container-fluid">
                                    <h2 class="text-center">Our Mission</h2>
                                    <p class="text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                        odi animi quod cupiditate enim, consequatur explicabo archite
                                        cto nam accusamus ipsum minima libero assumenda asperiores!
                                         Natus voluptatem repellat sunt aliquid. Harum?
                        
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                         odi animi quod cupiditate enim, consequatur explicabo archite
                                         cto nam accusamus ipsum minima libero assumenda asperiores!
                                          Natus voluptatem repellat sunt aliquid. Harum?
                        
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                          odi animi quod cupiditate enim, consequatur explicabo archite
                                          cto nam accusamus ipsum minima libero assumenda asperiores!
                                           Natus voluptatem repellat sunt aliquid. Harum?
                                    </p>
                            </div>
                            
                        </div>
                        <div class="card rounded-0 shadow-lg mb-2">
                                <div class="container-fluid">
                                        <h2 class="text-center">Our Vission</h2>
                                        <p class="text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                            odi animi quod cupiditate enim, consequatur explicabo archite
                                            cto nam accusamus ipsum minima libero assumenda asperiores!
                                             Natus voluptatem repellat sunt aliquid. Harum?
                            
                                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                             odi animi quod cupiditate enim, consequatur explicabo archite
                                             cto nam accusamus ipsum minima libero assumenda asperiores!
                                              Natus voluptatem repellat sunt aliquid. Harum?
                            
                                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos comm
                                              odi animi quod cupiditate enim, consequatur explicabo archite
                                              cto nam accusamus ipsum minima libero assumenda asperiores!
                                               Natus voluptatem repellat sunt aliquid. Harum?
                                        </p>
                                </div>
                                
                            </div>
                </div>
                <div class="col-md-3"></div>
            </div>
</div>


<app-footer></app-footer>