<nav
      class="navbar navbar-expand-lg navbar-dark scrolled justify-content-sm-start fixed-top"
      style="background-color:midnightblue"
    >
      <div class="container-fluid">
        <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto" routerLink="/"
        >EMERALDS TECH HUB</a
        >
        <button class="navbar-toggler align-self-start" type="button" data-toggle="collapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse bg-dark p-3 p-lg-0 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav align-self-stretch">
            <li class="nav-item active">
              <a class="nav-link" routerLink="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="#">Action</a>
                <a class="dropdown-item" routerLink="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="#">Action</a>
                <a class="dropdown-item" routerLink="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                routerLink="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
          
        </div>
      </div>
    </nav>