<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center" style="margin-top:100px">MOBILE APPLICATIONS DESIGN AND DEVELOPEMENT</h2>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="font-weight-light">
                    Nowadays, it’s common that everyone uses smartphones for their day to day 
                    activity. The significance and influence of mobile phones in our daily life 
                    and activities can’t be denied. Mobile phones have transformed from an ordinary
                     communication device to a major point of attention for individuals and
                      business alike due to their characteristic features. All this is a result
                       of the progress in technology and access to high-speed internet. All this 
                       was possible through innovation in the mobile app development.
            </p>
            <p class="font-weight-light">
                    Therefore, mobile apps are becoming the main medium of digital interaction.
                     The modern-day users are on the move and they’re utilizing the mobile 
                     application to be on track. Regardless of whether they use a tablet, 
                     mobile phones or any other smart devices – they have access to the data 
                     they require, a reason due to which mobile applications have such 
                     prominence in the current business economy.
            </p>
            <p class="font-weight-light">
                    Regardless of what your business is, a mobile application helps in
                     getting and retain the customers. We all make use of the web to
                      search for a service or product. What if your business is
                       online and accessible on the internet, and you have a mobile
                        app that users can download on their device. Your company 
                        will have a better reputation and reach among the users.
                         Mobile apps open a new door through which the clients can 
                         interact with your business on the go.
            </p>
            <img src="assets/IMAGES/mobileapps.png" style="width:100%" alt="">
            <p class="font-weight-light mt-2">
                    Mobile apps have changed the way humans feel and experience computing.
                     A few years ago, people needed a PC to check their personal mail or 
                     access the internet, but now, all such computing is done via mobile 
                     phones. Now, we can instantly book tickets to any travel destination,
                      this would be something that our ancestors could never think of.
                       You should be thankful to all top mobile app development companies 
                       for enabling technology on our fingertips. 
            </p>
            <p class="font-weight-light">
                    Mobile apps were mainly successful due to the presence of social media.
                     There has been a huge surge in the use of social media. Mobile apps have
                      changed the way we utilize such social platforms. Now such social media
                       platforms are also used as a platform for conducting business. All 
                       this was only conceivable due to the entry of mobile apps. Today, 
                       enterprise based mobile apps are also developed and is an instant hit.
                        Such apps provide the users with instant access to the business at any 
                        time. By using such enterprise based apps, there are likely more chance 
                        for the business to get established and attain a brand value. Enterprise 
                        based mobile apps are now becoming a marketing tool.
            </p>
        </div>
        <div class="col-md-4">
                <img class="card-img-ight mb-4" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/mapp4.png">
                <img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/mobileap2.png">
             
                </div>
                    </div>
                    <div class="container-fluid mt-4 mb-4">
                                <div class="d-flex justify-content-center">
                            <a routerLink="/project" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">START YOUR DIGITAL JOURNEY WITH US TODAY</a>
                                </div>
                                <div class="container-fluid mt-4 mb-4">
                                            <div class="d-flex justify-content-center">
                                                            <button class="btn rounded-0" style="background-color:midnightblue;color:white" >OR</button>   </div>
                                            <div class="container-fluid mt-4 mb-4">
                                                            <div class="d-flex justify-content-center">
                                                        <a routerLink="/message" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">CONTACT US</a>
                                                            </div>
                    
                            
                                <h6 class="text-center mt-4">LIKE PAGE ? SHARE IT WITH YOUR FRIENDS</h6>
                                <div class="d-flex justify-content-center mt-2">
                                        <div class="addthis_inline_share_toolbox_8aps"></div> 
                                            </div>
                            </div>
                    </div>
                    </div>
</div>
<app-footer></app-footer>