<app-navbar></app-navbar>
<div class="container-fluid">
        <h2 class="text-center" style="margin-top:100px">Organisations and Co-operate Websites</h2>
        <hr>
    <div class="row" style="margin-bottom:200px">
        <div class="col-md-1"></div>
        <div class="col-md-7">
           <p class="font-weight-light">
                For organizations interested in having an editable online brochure that consistently 
                allows them to display their product/services and introduce new ones to customers, 
                having a corporate website will serve this purpose efficiently.
           </p>
           <p class="font-weight-light">
                Regardless of the amount of data you intend to have on this type of website, you
                 can be assured of a fully-optimized website when you contact us at Lead Web 
                 Praxis for a corporate website.
           </p>
           <p class="font-weight-light">
                As a new or existing entrepreneur, you need a corporate Web design to showcase 
                your business to the world. Over the past several years, corporate Website 
                design has contributed immensely to the breakthrough of several businesses 
                in Nigeria with the help of Best Corporate Website Designer.
           </p>
           <h4 style="color:midnightblue">The following features are going to be implemented in your organisations website</h4>
            <ul>
                <li class="font-weight-light">Easier anf faster navigation</li>
                <li class="font-weight-light">Customers reviews and testimonies</li>
                <li class="font-weight-light">Mobile responsiveness</li>
                <li class="font-weight-light">Social media integration</li>
            </ul>
            <h4 style="color:midnightblue">Website maintainace, management and additional services</h4>
            <ul>
                    <li class="font-weight-light">Search engine optimisation</li>
                    <li class="font-weight-light">Email marketing</li>
                    <li class="font-weight-light">Social media marketing</li>
                    <li class="font-weight-light">Technical consultations and support</li>
            </ul>
           
        </div>
        <div class="col-md-4">
                <img src="assets/IMAGES/org.jpg" class="mb-4" style="width:100%" alt=""><br>
                <img src="assets/IMAGES/org2.jpg" style="width:100%" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>