<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center" style="margin-top:100px">SEARCH ENGINE OPTIMIZATION</h2>
    <div class="row">
<div class="col-md-1"></div>
<div class="col-md-7">
    <P class="font-weight-light">
        Search Engine Optimization – In the world of digital marketing today,
         Search Engine Optimization (SEO) is considered to be one of the most
          important channels of marketing. Even though SEO is a go-to channel for marketing and advertising that
         ensures fast results, it is also one of the most complex means of marketing due to its multifaceted nature.
    </P>
    <P class="font-weight-light">
        Searching Engine Optimization comprises of different elements that act 
        as the means through which search engines are able to access websites or 
        businesses with online presence, and determine how relevant the contents of 
        a website is to a query made on the internet. SEO is a very valuable tool in 
        digital marketing as it is a means for showing that a brand has authority in a 
        particular field, helps build relationship between a brand and prospective customers, 
        as well as an avenue for brand awareness.
    </P>
   
    <h6 style="color:midnightblue">THROWING A FULL LIGHT ON SEARCH ENGINE OPTIMIZATION</h6>
    <p><b>What exactly is search engine optimization ?</b></p>
    <P class="font-weight-light">
        SEO is the process of upgrading the contents of a website so as to increase 
        its visibility during an organic search on search engines as well as the volume 
        and quality of organic (unpaid) traffic to the website. Search engines have different 
        algorithms that help to determine if a website is worthy of high ranking on the Search 
        Engine Result Pages (SERP), search engines (Google, Bing, Baidu, Yandex, etc) are 
        able to crawl into website pages so as to 
        determine whether or not the contents of such sites are important to the
         query made by search engine users per time.
    </P>
    <P class="font-weight-light">
        There are certain ways through which optimization is carried out by digital 
        marketing experts, this are done with search engine algorithm in mind so as to 
        ensure a favorable position on the SERP and improve the user experience of 
        site visitors. They include the following
    </P>
    <p><b>Pages Keywords</b></p>
    <P class="font-weight-light">
        Keywords are phrases or words used in web content that help the website rank 
        higher via search engines. Carefully choosing keywords with high search volume and low 
        competition, and effectively using them in content is a good SEO practice that helps a site rank high.
    </P>
    <p><b>Pages content</b></p>
    <P class="font-weight-light">
        A website should have relevant and educative contents; 
        contents that answer the questions asked by a user/visitor, also contents should be both attractive and shareable, 
        contents should come in different forms that can appeal to a wide range of audience. These forms include
    </P>
    <p><b>On-page SEO</b></p>
    <P class="font-weight-light">
        This is the practice of optimizing a site using location based keywords. This form of optimization 
        can be done by creating location specific pages on your site, creating business pages on Google Maps,
         claiming directory listings, etc. this form of optimization helps you rank within the location of your business. 
    </P>
    <P><B>Off-page SEO</B></P>
    <P class="font-weight-light">
        This is a form of optimization that happens outside of the website; these are activities 
        that happen away from your web page but have a link to your site. These activities include building of 
        backlinks, commenting, sharing on other platforms, and star rating /liking.
         These activities play a crucial role in increasing the rating of a site.
    </P>
    <P class="font-weight-light">
        This is a form of optimization that happens outside of the website; these are activities 
        that happen away from your web page but have a link to your site. These activities include building 
        of backlinks, commenting, sharing on other platforms, and star rating /liking. These activities play a 
        crucial role in increasing the rating of a site.
    </P>
   
</div>
<div class="col-md-4">
    <img class="card-img-ight mb-4" style="height:250px;width:100%" alt="e-commerce services" src="/src/assets/IMAGES/">
    <img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/schoolm.png">
        
</div>
    </div>
    <div class="container-fluid mt-4 mb-4">
        <div class="d-flex justify-content-center">
    <a routerLink="" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">START YOUR DIGITAL JOURNEY WITH US TODAY</a>
        </div>
    </div>
</div>
<app-footer></app-footer>