<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center">EMAIL MARKETING</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
                <p class="font-weight-light">
                        Email Marketing – Right from the pre-industrial era,
                         humans have always engaged in one form of marketing or 
                         the other in order to initiate transactions. The skills 
                         might be largely unrefined at that moment but they still 
                         managed to get the job done partly because the competition 
                         was scanty and families were subsistence. Fast forward to 
                         this millennium, marketing has witnessed several structural 
                         changes in planning and implementation due to the advancement 
                         of technology and the reinforced competition.
                </p>
                <p class="font-weight-light">
                        One of such successful marketing medium that is birthed by the advancement
                         of technology is “email marketing”. From the name, we could easily deduce 
                         that this medium focuses on the promotion of products/services through email. 
                         At one point or the other, we must have received an anonymous email 
                         (usually found in the spam folder) trying to inform us about the existence 
                         of a particular service and the bonus offer available if we follow through 
                         on the content. While those emails can also be regarded as a form of email 
                         marketing since they are also sent with the intention of persuading the audience,
                         they usually have a low response rate because of the haphazard nature that was employed in executing them.
                    </p>
                <p class="font-weight-light">
                        Once executed by the right professionals, email marketing is capable of 
                        helping a business grow exponentially by creating and maintaining a relationship 
                        between the business and customers with carefully drafted emails that customers 
                        can relate with. In order to successfully market via emails, the addresses have 
                        to be customers or potential customers who showed initial interests by providing their email address.
                         Otherwise, the mail might just be ignored or deleted immediately after the receiver receives it.
                </p>
                <p class="font-weight-light">
                    
                </p>
                <p class="font-weight-light">
                    
                </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<app-footer></app-footer>