<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center" style="margin-top:150px">SCHOOL WEBSITES AND MANAGEMENT SYSTEMS</h2>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h6 style="color:midnightblue">WE DESIGN AND DEVELOP, BEAUTIFUL COMPLEX AND YET THE SIMPLEST TO USE SCHOOL MANAGEMENT SYSTEM</h6>
<p class="font-weight-light">School management is an important part of any educational system.
    </p>
<p class="font-weight-light">
        School authorities all over the world are continuously engaged in numerous activities 
        to efficiently manage school functions and provide a better educational experience to students.
               
</p>
<p class="font-weight-light">However, managing school affairs is not at all easy in this fast growing world.</p>
<p class="font-weight-light">
        To better perform the functions of school management and assure parents of their 
        child’s safety and progress, schools are using school management software nowadays.
</p>
<h6 style="color:midnightblue">FEATURES OF A SCHOOL MANAGEMENT SYSTEM</h6>
<ul>
    <li><b>Student information: </b><span class="font-weight-light">Attendance, homework, discipline, grades, and achievements! Almost all the information regarding the students can be accessed easily using efficient school management software.

        Teachers can use the student database to avail basic information of students like grades, address, information regarding parents and siblings etc.
        
        In addition to this information, details regarding the students’ medical history, accounts, billing etc. are also added by the administration.</span></li>
    <li><b>Parent Access: </b><span class="font-weight-light">
        Being part of your child’s school activities and stay connected with their academic progress can be a difficult thing in this busy world.

However, now it’s easy for parents to avail updates about their child’s academic activities through parent portals and school apps.

It helps parents to be with their child and teachers the whole day.

    </span></li>
    <li><b>Teacher Information: </b><span class="font-weight-light">
        Effective school management software not only helps in availing information regarding students but also provides information regarding teacher activities inside the school.

It’s easy to view a particular teacher’s class schedule, file reports efficiently etc.

Also teachers can use their database to keep the details regarding class timings, student progress and classroom activities in one place.
    </span></li>
    <li><b>Communication Facilities (Voice Messaging, E-mail, Chats, etc): </b><span class="font-weight-light">
        <p>To a great extent, student success depends on the effectiveness of communication among parents, schools and teachers.</p>
        <p>School management systems have Parent portal, which are capable enough to facilitate the communication process by sending text,
             voice messages and e-mails to a predefined set of parents and the whole school.</p>
        <p>Thereby lessening the time invested by the school administrators in making
             phone calls or leaving messages to parents.</p>
        <p>Another small but important feature of highly effective school management software is 
            the facility to use templates that can be saved to
             communicate important days like teachers’ day, annual day, cultural day etc.</p>
    </span></li>
    <li><b>Attendance & Timetable Management: </b><span class="font-weight-light">
        <p>Attendance management is an important school administrative task and 
            it requires teachers to spend a small chunk of time at the beginning of each class.</p>
        <p>Sometimes, it is difficult for teachers to manage the whole process of taking 
            attendance and recording them accurately.</p>
        <p>Marking attendance in grids having small squares is very
             hard and errors can occur very easily.</p>
    </span></li>
    <li><b>Online Assessments and Assignments: </b><span class="font-weight-light">While term examinations are still relevant, it is of much help to teachers and students to test and learn the knowledge
         each student has acquired continuously. Online assessments and assignments are therefore very important.</span></li>
    <li><b>Report Cards: </b><span class="font-weight-light">
        <p>A Report Card represents a student’s hard work throughout the year
             and it is the most anticipated thing in an academic
             year. However, both the teachers and the school administration find it a time-consuming responsibility.</p>
        <p>School management software can help teachers and school authorities
             to streamline the process of generating report cards using an interactive database. With the already available information about
             a student’s class performance, attendance and exam results,
              the database completes the report card automatically.</p>
        <p>Teachers can review this before finalizing and approving the report card and
             make it accessible to parents and students immediately.</p>
    </span></li>
    <li><b>Admission Management: </b><span class="font-weight-light">
        <p>Avoid keeping bundles of files as you can save all the
             data in a system. This method can help you to
             access the data immediately if required. You can do this 
             with effective school management software.</p>
        <p>Such software is capable enough to manage the registration and
             admission process of both old and new students smoothly. 
             This software can remove the difficulties caused by human 
             errors and treats the new and old students differently based on the information provided.</p>
        
    </span></li>
    <li><b>Profile Management: </b><span class="font-weight-light">
            School management system software efficiently performs profile management.
             It is one module of the system which is used to manage students, parents, staff and teachers. It captures information such as name and contact
             information of the users. Every user has unique login credentials to access.
    </span></li>
    <li><b>Academic Calender: </b><span class="font-weight-light">
            Academic calendar is one of the basic needs of an effective school management software. It helps parents to stay 
            updated about the events, meetings, assignments, lectures, exam schedules etc.
    </span></li>
</ul>

<h6 style="color:midnightblue">WEBSITE MAINTAINANCE, MANAGEMENT AND ADDITIONAL SERVICES</h6>
<ul>
    <li class="font-weight-light">Website content uploads and updates</li>
    <li class="font-weight-light">Search engine optimisation</li>
    <li class="font-weight-light">Social media marketing</li>
    <li class="font-weight-light">Technical consultations and support</li>
</ul>


        </div>
        <div class="col-md-4">
            <img class="card-img-ight mb-4" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/schoolm2.png">
            <img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/schoolm.png">
								
								
        </div>
    </div>
    <div class="container-fluid mt-4 mb-4">
            <div class="d-flex justify-content-center">
        <a routerLink="/project" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">START YOUR DIGITAL JOURNEY WITH US TODAY</a>
            </div>
            <div class="container-fluid mt-4 mb-4">
                        <div class="d-flex justify-content-center">
                                        <button class="btn rounded-0" style="background-color:midnightblue;color:white" >OR</button>   </div>
                        <div class="container-fluid mt-4 mb-4">
                                        <div class="d-flex justify-content-center">
                                    <a routerLink="/message" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">CONTACT US</a>
                                        </div>

        
            <h6 class="text-center mt-4">LIKE PAGE ? SHARE IT WITH YOUR FRIENDS</h6>
            <div class="d-flex justify-content-center mt-2">
                    <div class="addthis_inline_share_toolbox_8aps"></div> 
                        </div>
        </div>
</div>
</div>
</div>
<app-footer></app-footer>