<nav
      class="navbar navbar-expand-md navbar-dark scrolled justify-content-sm-start fixed-top"
      style="background-color:midnightblue"
    >
      <div class="container-fluid">
        <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto" routerLink="/"
        >  <img src="assets/IMAGES/el5.PNG" style="height: 100px; width:200px" alt=""> </a
        >
        <button class="navbar-toggler align-self-start" type="button" data-toggle="collapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse bg-dark p-3 p-lg-0 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav align-self-stretch">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/about"
                  >About</a
                >
              </li>
              
              <li class="nav-item active">
									<a class="nav-link dropdown-toggle s dropdown" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Services
										</a>
			<div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" routerLink="/services/organisations-and-cooperate-websites">Orgarnisations and Corporate Websites</a>
			<a class="dropdown-item" routerLink="/services/businesses-and-ecommerce-websites">Business and E-commerce Websites</a>
			<a class="dropdown-item" routerLink="/services/school-websites-and-management-systems">School Websites and Management Systems</a>
			<a class="dropdown-item" routerLink="/services/blockchain-apps-and-smart-contracts">Ethereum Based Blockchain Applications and Smart Contracts</a>
			<a class="dropdown-item" routerLink="/services/mobile-and-progressive-web-applications">Mobile and Progressive Web Applications</a>
			<a class="dropdown-item" routerLink="/services/social-media-marketing">Social Media Marketing</a>
			<a class="dropdown-item" routerLink="/services/email-marketing">Email Marketing</a>
			<a class="dropdown-item" routerLink="/services/search-engine-optimisation">Search Engine Optimisation</a>								
			</div>
                 
                </li>

                <li class="nav-item active">
                  <a class="nav-link" routerLink="/contact"
                    >Contact</a
                  >
                </li>
           
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/project"
                      > <b>Start a Project</b> </a
                    >
                  </li>
          </ul>
          
        </div>
      </div>
    </nav>