<app-navbar></app-navbar>
<div class="container-fluid mt-4">
        <h2 class="text-center" style="margin-top:100px">
            
                    BUSINESS AND ECOMMERCE WEBSITES
                    <hr style="height:10px !important">
        
           </h2>
    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-7">

            <h6 class="mt-4" style="color:midnightblue">WE DESIGN BEAUTIFUL, USER-FRIENDLY WEBSITES FOR DESTOPS, SMARTPHONES AND TABLETS</h6>
            <p class="font-weight-light">
                    Living in the digital world, a website is crucial for any business. 
                    If you have a business and don’t have a website, you are probably losing out on opportunities for 
                    your business. A website can be used to accomplish many different marketing 
                    strategies to help your business grow.
            </p>
            <p class="font-weight-light">
                When we embark on a new web design project, we don’t jump straight in to colours, images and content.
                 Successful projects begin by asking questions, getting under the skin of your business, and by truly 
                 understanding your goals and aspirations.
  </p>

            <p class="font-weight-light">
                When you work with us, we won’t just design you a pretty looking website. At Web Integrations our 
                mission is to design and build websites that will become an invaluable arm of your business. A 
                workhorse that drives enquiries, sales and awareness at every interaction.
            </p>
            <p class="font-weight-light">
                Whatever the challenges of your business or organisation, we are here to help squeeze every 
                last drop out of your online presence.
            </p>
            <h6 style="color:midnightblue">THE FOLLOWING FEATURES ARE GOING TO BE IMPLEMENTED IN YOUR E-COMMERCE WEBSITE</h6>
            <ul>
                <li><b>Mulitple payment options: </b>   <span class="font-weight-light">Multiple, secured and fast payment options are going to be integrated into the website thereby
                     enabling the site to serve a diverse number of people, these payment methods includes;</span>  
                <ul>

<li class="font-weight-light">Bank Transfer and deposits</li>
<li class="font-weight-light">National and international online payment gateways (Paypal, Paystack, Flutterwave, Stripe, Interswitch, GTpay e.t.c )</li>
<li class="font-weight-light">Cryptocurrency (Bitcoin, Ethereum)</li>
                </ul>
                </li>
                <li><b>Multiple Delivery methods:</b>
                <ul>
                    <li class="font-weight-light">Courier delivery</li>
                    <li class="font-weight-light">Weight based shipping and delivery</li>
                    <li class="font-weight-light">Other delivery methods desired by client</li>
                   
                </ul>
                </li>
                <li><b>Search engine optimized and friendly: </b> <span class="font-weight-light" >We provide tailored search engine optimisation (SEO) services specifically designed to meet your business goals. We focus on three core things - increasing your website's visibility in the search results, driving more visitors, and improving your bottom line.</span>  </li>
                <li><b>Mobile responsiveness:</b>
                <span class="font-weight-light">The website is going to be mobile responsive fitting and adjusting on devices of various view ports, sizes and screen resolution.</span>
                </li>
            
            </ul>
            
            <h6 style="color:midnightblue">WEBSITE MANAGEMENT MAINTAINACE AND ADDITIONAL SERVICES</h6>
            <ul>
                <li class="font-weight-light">Website content uploads and updates</li>
                <li class="font-weight-light">Search engine optimisation</li>
                <li class="font-weight-light">Social media marketing</li>
                <li class="font-weight-light">Graphics and logo designs</li>
                <li class="font-weight-light">Technical consultations and support</li>
            </ul>
        </div>
        <div class="col-md-4" style="margin-top:40px">
            <img src="assets/IMAGES/ecom4.png" class="mb-4" style="width:100%" alt=""><br>
            <img src="assets/IMAGES/ecommerce2.png" style="width:100%" alt="">
        </div>
    </div>
    <div class="container-fluid mt-4 mb-4">
            <div class="d-flex justify-content-center">
        <a routerLink="/project" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">START YOUR DIGITAL JOURNEY WITH US TODAY</a>
            </div>
            <div class="container-fluid mt-4 mb-4">
                        <div class="d-flex justify-content-center">
                                        <button class="btn rounded-0" style="background-color:midnightblue;color:white" >OR</button>   </div>
                        <div class="container-fluid mt-4 mb-4">
                                        <div class="d-flex justify-content-center">
                                    <a routerLink="/message" class="btn btn-lg rounded-0" style="color:midnightblue;background-color:white;border:2px solid midnightblue">CONTACT US</a>
                                        </div>

        
            <h6 class="text-center mt-4">LIKE PAGE ? SHARE IT WITH YOUR FRIENDS</h6>
            <div class="d-flex justify-content-center mt-2">
                    <div class="addthis_inline_share_toolbox_8aps"></div> 
                        </div>
        </div>
</div>
</div>
</div>
<app-footer></app-footer>