<app-navbar></app-navbar>
<div class="container-fluid mb-4" style="margin-top:100px">
    <h2 class="text-center">DEAR VALUED CUSTOMER, START YOUR DIGITAL JOURNEY WITH US</h2>
    <h4 class="text-center">Fill in the form below or <span style="color:blue"><a href="/contact">CONTACT US</a></span> </h4>
    <div class="row mt-4">
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card rounded-0 shadow-lg">
            <div class="container-fluid">
                    <h3 class="text-center mt-2">PLEASE TELL US WHAT YOU WANT, WE HAVE YOUR BEST INTEREST AT HEART</h3>
                        <form  enctype="multipart/form-data" (submit)="submitProject($event)">
                            <div class="form-group">
                                <label for="name" class="label-control">Name</label>
                                <input type="text" name="name" id="name" class="form-control pl-2 rounded-0">
                            </div>
                            <div class="form-group">
                                    <label for="mobile" class="label-control">Mobile Number</label>
                                    <input type="text" name="mobile" id="mobile" class="form-control rounded-0">
                                </div>
                                <div class="form-group">
                                        <label for="email" class="label-control">Email (optional)</label>
                                        <input type="text" name="email" id="email" class="form-control rounded-0">
                                    </div>
                                    <div class="form-group">
                                            <label class="label-control" for="project">Project Type</label>
                                            <select class="form-control" id="ptype">
                                                <option selected>Select Project Type</option>
                                              <option value="business">Business/E-commerce Website</option>
                                              <option value="school">School website/Management System</option>
                                              <option value="mobile">Mobile Application</option>
                                              <option value="blog">Blog/News and Media Website</option>
                                              <option value="social">Social Media Marketing</option>
                                              <option value="search">Search Engine Optimization</option>
                                            </select>
                                          </div>
                                    <div class="form-group">
                                            <label for="project" class="label-control">Detailed Description of your Project</label>
                                            <textarea type="text" name="project" id="project" rows="10" class="form-control rounded-0"></textarea>
                                        </div>
                                       
                                        <div class="form-group">
                                                <label for="file" class="label-control">File/Image Upload (optional)</label>
                                                <input type="file" multiple (change)="onFileChanged($event)" name="file" id="file" class="form-control rounded-0">
                                            </div>


                                            
<button class="btn btn-md rounded-0 form-control" type="submit" style="background-color:midnightblue; color:white">SUBMIT PROJECT</button>
                            </form>
                </div>
    </div>
</div>
<div class="col-md-2"></div>
    </div>
</div>
<app-footer></app-footer>