<footer style="background-color:midnightblue; height:100%">
    <div class="row container-fluid pt-4">
        <div class="col-md-4 mb-4">
            <h6 style="color:white"> <b>OUR SERVICES</b> </h6>
            <a class="" style="color: lightgray;font-size: 14px" routerLink="/services/organisations-businesses-and-ecommerce-websites">Business and E-commerce Websites</a><br>
			<a class="" style="color: lightgray;font-size: 14px" routerLink="/services/school-website-and-management-systems">School Websites and Management Systems</a><br>
			<a class="" style="color: lightgray;font-size: 14px" routerLink="/services/mobile-and-progressive-web-applications">Mobile and Progressive Web Applications</a><br>
		    <a class="" style="color: lightgray;font-size: 14px" routerLink="/services/social-media-marketing">Social Media Marketing</a><br>
			<a class="" style="color: lightgray;font-size: 14px" routerLink="/services/email-marketing">Email Marketing</a><br>
			<a class="" style="color: lightgray;font-size: 14px" routerLink="/services/search-engine-optimization">Search Engine Optimisation</a>
        </div>
        <div class="col-md-4 mb-4" style="color:white">
            <h6 class=""><b>FOLLOW US</b> </h6>
            <ul class="text-center" style="margin-left: -15px">
                <li><a href="" style="color: lightgray;font-size: 14px;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="" style="color: lightgray;font-size: 14px"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="" style="color: lightgray;font-size: 14px"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="" style="color: lightgray;font-size: 14px"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            
        </div>
        <div class="col-md-4 mb-4" style="color:white">
            <h6> <b>CONTACT US</b>  </h6>
            
            <i class="fa fa-phone" style="color: lightgray;font-size: 14px" aria-hidden="true"></i> <span style="color: lightgray;font-size: 14px"> +234 803 284 2663</span>
    <br>
            <i class="fa fa-whatsapp" style="color: lightgray;font-size: 14px" aria-hidden="true"></i><span style="color: lightgray;font-size: 14px"> +234 803 284 2663</span>
    <br>
            <i class="fa fa-envelope" style="color: lightgray;font-size: 14px" aria-hidden="true"></i><span style="color: lightgray;font-size: 14px"> emeraldstechub@gmail.com</span>
    
        </div>
    </div>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 d-flex justify-content-center" >
                        <form action="" style="align-items:center" class="">
                            <div class="form-group">
                <label for="subscribe" style="color:white" class="label-control"> <b>SUSCRIBE TO OUR EVENTS AND NEWS LETTER</b> </label>
                <div class="form-inline">
                        <input type="text" name="subscribe" id="subscribe" class="form-control rounded-0 mr-2">
                        <button class="btn s btn-md rounded-0 btn-success" style="color:white">SUBSCRIBE</button>
                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
    </div>
    
    
    <div class="row">
        <div class="col-12 pt-2">
                <p class="text-center text-lead" style="color:lightgray;font-size:14px;border-right:1px solid white">Copyright &copy; Emerald Tech Hub</p> 
        </div>
    </div>
    </footer>