<app-navbar></app-navbar>
<div class="image">
    <div class="container-fluid" >
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
					<h1 class="text-center" style="padding-top:250px; color: white !important">EMERALDS SOFTWARE COMPANY</h1>
					<hr style="background-color:white">
					<div class="form-inline justify-content-center">
						<button class="btn btn-lg mr-2 rounded-0" style="background-color:midnightblue; color:white">Login</button>
						<button class="btn btn-lg mr-2 rounded-0" style="background-color:midnightblue; color:white">Signup</button>
					</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
	</div>
</div>
<div class="container-fluid mt-4">
	<h1 class="text-center">OUR SERVICES</h1>
	<hr>
</div>
<div class="container-fluid mb-4">
		<div class="row mb-4">
				<div class="col-md-4">
						<h3 class="text-center">E-commerce Websites</h3>
						<hr>
						<div class="card rounded-0 shadow">
								<img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/ecommerce3.png">
								<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
									ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
									a ad, vel possimus provident est excepturi?</p>
						</div>
			</div>
				<div class="col-md-4">
						<h3 class="text-center">School Websites and Management System</h3>
						<hr>
						<div class="card rounded-0 shadow">
								<img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/schoolm2.png">
								<p class="text-center font-weight-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
									ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
									a ad, vel possimus provident est excepturi?</p>
						</div>
				</div>
				<div class="col-md-4">
						<h3 class="text-center">Mobile Applications</h3>
						<hr>
						<div class="card rounded-0 shadow">
								<img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/ecommerce4.png">
								<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
									ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
									a ad, vel possimus provident est excepturi?</p>
						</div>
				</div>
			</div>
<div class="row mb-4">
	<div class="col-md-4">
		<h3 class="text-center">Social Media marketing</h3>
		<hr>
		<div class="card rounded-0 shadow">
				<img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/socialm2.png">
				<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
					ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
					a ad, vel possimus provident est excepturi?</p>
		</div>
	</div>
	<div class="col-md-4">
			<h3 class="text-center">Websites Maintainace & Database Management</h3>
			<hr>
			<div class="card rounded-0 shadow">
					<img class="" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/ecommerce3.png">
					<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
						ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
						a ad, vel possimus provident est excepturi?</p>
			</div>
	</div>
	<div class="col-md-4">
			<h3 class="text-center">Blogs, News and Media</h3>
			<hr>
			<div class="card rounded-0 shadow">
					<img class="card-img-ight" style="height:250px;width:100%" alt="e-commerce services" src="assets/IMAGES/ecommerce3.png">
					<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam libero ut nisi ipsum molestiae, fac
						ere consequatur! Eligendi, itaque tenetur illo sint quisquam esse, 
						a ad, vel possimus provident est excepturi?</p>
			</div>
	</div>
</div>
</div>

<h3 class="text-center">CONTACT US</h3>
<hr>

<div class="smessage" style="width:100%;height: 700px;">
	
<div class="row">
	<div class="col-lg-6 mt-2" style="border-right: 2px solid white">
			<div class="container mt-4">
					<div class="card shadow rounded-0">
							<form action="/message">
							<div class="form-group">
								<label for="name" class="label-control pl-2">Name</label>
								<input type="text" name="name" id="name" class="form-control pl-2 rounded-0">
							</div>
							<div class="form-group">
									<label for="mobile" class="label-control">Mobile Number</label>
									<input type="text" name="mobile" id="mobile" class="form-control rounded-0">
								</div>
								<div class="form-group">
										<label for="email" class="label-control">Email (optional)</label>
										<input type="text" name="email" id="email" class="form-control rounded-0">
									</div>
									<div class="form-group">
											<label for="project" class="label-control">Project Description</label>
											<textarea type="text" name="project" id="project" rows="12" class="form-control rounded-0"></textarea>
										</div>
										<button class="btn btn-md rounded-0 form-control" style="background-color:midnightblue; color:white">Submit</button>
							</form>
							
						</div>
				</div>
		
	</div>
	<div class="col-lg-6"></div>
</div>
</div>

<footer style="background-color:midnightblue; height:300px">
<div class="row container-fluid pt-4">
	<div class="col-md-4">
		<h4 style="color:white"> <b>Our services</b> </h4>
		<a href="" style="color:white">Web Design and developemet</a><br>
		<a href="" style="color:white" >Social Media Marketing</a> <br>
		<a href="" style="color:white">Mobile app developemet</a> <br>
	</div>
	<div class="col-md-4" style="color:white">
		<h4>Follow Us </h4>
	</div>
	<div class="col-md-4" style="color:white">
		<h4>Contact Us </h4>
		<p>Phone</p>
		<p>Whatsapp</p>
		<p>Email</p>
	</div>
</div>
</footer>