
<div style="background-color:midnightblue">
                <app-navbar></app-navbar>
                <div class="container-fluid">
                        <div class="row mb-4" style="padding-top:100px">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="card rounded-0 shadow-lg mb-2">
                                        <div class="container-fluid">
                                                <h2 class="text-center mt-2">About Emerald Tech Hub</h2>
                                                <p class="text-center font-weight-light">
                                                        Welcome to Emeralds Tech Hub, A home for Developers and technology enthusiats 
                                                        and an innovative web and mobile applications design and development, Digital Marketing and Software 
                                                        Development company aimed at deploying the best technological skillset available for quality 
                                                        and high performance web and mobile applications related services.
                                                                           </p>
                                                         <p class="text-center font-weight-light">
                                                                Our services are aimed at serving all strata of businesses (start-up, medium and big) 
                                                                available with the purpose of helping our clients to maximize the countless benefits 
                                                                associated with the use internet.
                                                         </p>
                                                         <p class="text-center font-weight-light">
                                                                Our services are highly affordable, and perfectly adjust with your budget and with your best interest at our hearts.
                                                                Also, our services are always updated with the latest and trending technologies there by placing our customers a step ahead at each pace.
                                                                Not only do we offer quality services to our clients, but we also provide continuous support services to ensure that maximum output is delivered often.
                                                                  
                                                         </p>
                                        </div>
                                        
                                    </div>
                                    <div class="card rounded-0 shadow-lg mb-2">
                                            <div class="container-fluid">
                                                    <h2 class="text-center mt-2">Our Mission</h2>
                                                    <p class="text-center font-weight-light">
                                                       
                                            Our mission is to Significantly enhance the business growth of our customers 
                                            with creative Design and Development to deliver market-defining high-quality 
                                            solutions that create value and reliable competitive advantage for our clients 
                                            around the world.
                
                                                    </p>
                                            </div>
                                            
                                        </div>
                                        <div class="card rounded-0 shadow-lg mb-2">
                                                <div class="container-fluid">
                                                        <h2 class="text-center mt-2">Our Vission</h2>
                                                        <p class="text-center font-weight-light">
                                                                Our aspiration is to become the best solution and services providers in the world with regards 
                                                                to web, mobile and sofware applications by continuously and efficiently
                                                                maximizing the benefits associated with being on the digital space 
                                                                through consistent innovations and adherence to ethical approach.
                                                        </p>
                                                </div>
                                                
                                            </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                </div>
                
                
                <app-footer></app-footer>
</div>
