<div class="navb">
  <app-navbar></app-navbar>
</div>

<div class="body">
  <div class="container-fluid" style="position:relative;padding-top: 150px">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <h2 class="text-center">Please Login</h2>
          <hr style="background-color:white">
  <div class="card rounded-0">
    
    <form action="">
      <div class="form-label-group form-group">
        <input type="email" id="inputEmail" class="form-control rounded-0" placeholder="Email address" required autofocus>
        <label for="inputEmail" style="float:left !important">Email address</label>
      </div>
      
      <div class="form-label-group form-group">
        <input type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" required>
        <label for="inputPassword" class="ml-auto">Password</label>
      </div>
      <div class="form-label-group form-group">
          <textarea type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" required></textarea>
          <label for="inputPassword" class="ml-auto">Text</label>
        </div>
      <button class="btn btn-md rounded-0 mb-2" style="background-color:midnightblue; color:white">Submit</button>

    </form>
  </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
